<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="rename" id="rename" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="renameLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameLabel">이름 변경</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                새로운 이름:
                <input type="text" name="newName" id="newName"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createNewFolder()">변경</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    function createNewFolder() {
        let newName = $('#newName').val();
        if (newName.trim() === '' || newName === undefined) {
            alert('변경하려는 이름이 입력되지 않았습니다!');
            return;
        }
        $.ajax({
            url: '/api/cloud/rename',
            method: 'POST',
            data: JSON.stringify({
                'newName': newName
            }),
            contentType: 'application/json',
            success: function (data, status, xhr) {
                $('rename').modal('hide');
                location.reload();
            }
        });
    }
</script>
</body>
</html>