<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base_layout">
<head>
    <meta charset="UTF-8">
    <title>Inha Workgroup Cloud</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body class="container" layout:fragment="content">
    <div class="main-content">
        <div class="main-header">
            <h4 class="main-summary"
                th:text="'총 업로드 파일 : ' + ${fileCount} + '개 (' + (${fileTotalSize} == null ? 0 : ${fileTotalSize}) + 'MB)'"></h4>
            <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#createNewFolder">
                파일 추가
            </button>
        </div>
        <hr>
        <div>
            <h5>최근 나의 활동</h5>
            <table class="table">
                <thead>
                <th scope="col">대상</th>
                <th scope="col">타입</th>
                <th scope="col">활동</th>
                <th scope="col">활동 일시</th>
                </thead>
                <tbody>
                    <tr th:each="history : ${histories}">
                        <td th:text="${history.summary}"></td>
                        <td th:if="${history.isFile} == true">파일</td>
                        <td th:if="${history.isFile} == false">폴더</td>
                        <td th:text="${history.description}"></td>
                        <td th:text="${history.createDateTime}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

<script>
</script>

</html>