<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base_layout">
<head>
    <meta charset="UTF-8">
    <title>Inha Workgroup Cloud</title>
    <link rel="stylesheet" type="text/css" href="/css/private.css"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="container" layout:fragment="content">
<div class="private-content">
    <div class="private-header">
        <div class="private-navbar">
            <button type="button" class="btn btn-default"><i class="fa-solid fa-arrow-up"></i></button>
            <h5 class="private-navbar-text">현재 위치 : </h5>
            <h5 class="private-navbar-text">/행사 준비</h5>
        </div>
        <button type="button" class="btn btn-primary">파일 추가</button>
    </div>
    <hr>
    <div>
    </div>
    <th:block th:replace="modal/create_new_folder :: createNewFolder">modal</th:block>
    <th:block th:replace="modal/rename :: rename">modal</th:block>

    <th:block th:replace="modal/create_new_folder :: script"></th:block>
</div>
</body>
</html>