<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/base_layout">
<head>
  <meta charset="UTF-8">
  <title>Inha Workgroup Cloud</title>
  <link rel="stylesheet" type="text/css" href="/css/private.css"/>
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="container" layout:fragment="content">
  <!-- 헤더 -->
  <div class="p-header">
    <div class="p-navbar">
      <h5 class="p-navbar__text" th:text="'공유받은 항목 : ' + ${shareCount} + '개'"></h5>
    </div>
  </div>
  <!-- 파일 리스트 -->
  <div id="file-list" class="file-list">
    <table class="table">
      <thead>
        <th scope="col">대상</th>
        <th scope="col">타입</th>
        <th scope="col">공유자</th>
        <th scope="col">공유 받은 일시</th>
      </thead>
      <tbody>
        <tr th:each="file : ${files}" th:attr="onclick=|handleClickFile(${file.dirId}, ${file.isFile})|">
          <td th:if="${file.isFile} == true">
            <a th:id="${file.dirId} + ',' + ${file.isFile} + ',a'"
               th:text="${file.orgFileName}"
               href="javascript:;"
            />
          </td>
          <td th:if="${file.isFile} == false">
            <a id="btn-open-folder-modal" href="#"
               data-toggle="modal"
               data-target="#folderModal" th:text="${file.orgFileName}">
            </a>
          </td>
          <td th:if="${file.isFile} == true">파일</td>
          <td th:if="${file.isFile} == false">폴더</td>
          <td th:text="${file.shareEmpName}"></td>
          <td th:text="${file.shareDateTime}" />
        </tr>
      </tbody>
    </table>
    <th:block th:replace="modal/folder :: folderModal">modal</th:block>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script layout:fragment="script">

    function download(dirId) {
      $.ajax({
        url: '/api/cloud/download/' + dirId,
        type: 'GET',
        xhrFields: {
          responseType: 'arraybuffer',
        },
        success: function(data, status, xhr) {
          if (!data) { return; }
          try {
            var fileName = decodeURIComponent(xhr.getResponseHeader("X-Filename"));
            var blob = new Blob([data], { type: xhr.getResponseHeader('content-type') });

            if (window.navigator.msSaveOrOpenBlob) { // IE 10+
              window.navigator.msSaveOrOpenBlob(blob, fileName);
            } else { // not IE
              var link = document.createElement('a');
              var url = window.URL.createObjectURL(blob);
              link.href = url;
              link.target = '_self';
              if (fileName) link.download = fileName;
              document.body.append(link);
              link.click();
              link.remove();
              window.URL.revokeObjectURL(url);
            }
          } catch (e) {
            alert(e);
          }
        },
        error: function(res, status, error) {
          alert(res.responseJSON.message);
        }
      });
    }

    function clickFolder(dirId) {
      $('#folder-modal__table > tbody > tr').remove();
      $.ajax({
        url: '/api/cloud/folder/' + dirId,
        type: 'GET',
        success: function(data, status, xhr) {
          let html = '';
          for (let key in data) {
            let val = data[key];
            html += '<tr>';
            html += '<td>';
            html += '<img class="img-icon" src="/img/icon_file.png" />';
            html += '<a id="' + val.dirId + ',' + val.isFile + ',a" ';
            html += 'href="javascript:download(' + val.dirId + ');">'
            html += val.orgFileName + '</a>'
            html += '</td>';
            html += '</tr>';
          }
          $('#folder-modal__table > tbody').append(html);
          $('#folder-modal-body__title').text('총 ' + data.length + '개 파일');
        },
        error: function(res, status, error) {
          alert(res.responseJSON.message);
        }
      });
    }

    function handleClickFile(dirId, isFile) {
      if (isFile) {
        // 파일 다운로드
        download(dirId);
      } else {
        // 폴더 이동
        clickFolder(dirId);
      }
    }

  </script>

</body>
</html>